<!DOCTYPE html>
<html>
<head>
  <title>Welcome to kobei</title>
</head>
<body>
This is kobei, a demonstration project to provide a JSON API in front of real-time earthquake
information provided by the USGS:

<ul>
  <li>
    <a href="https://explore.data.gov/Geography-and-Environment/Worldwide-M1-Earthquakes-Past-7-Days/7tag-iwnu">
      https://explore.data.gov/Geography-and-Environment/Worldwide-M1-Earthquakes-Past-7-Days/7tag-iwnu
    </a>
  </li>
  <li>
    <a href="http://earthquake.usgs.gov/earthquakes/catalogs/eqs7day-M1.txt">
      http://earthquake.usgs.gov/earthquakes/catalogs/eqs7day-M1.txt
    </a>
  </li>
</ul>

The API provides the following methods:
<ul>
  <li>All earthquakes (system up since May 18, 2013) <a href="earthquakes">/earthquakes</a></li>
  <li>All earthquakes on the day of <strong>timestamp</strong> (Unix epoch time)
    <br/><a href="earthquakes?on=<%= (DateTime.now-1.day).to_i %>">/earthquakes?on=<strong>timestamp</strong></a></li>
  <li>All earthquakes since <strong>timestamp</strong> (Unix epoch time)
    <br/><a href="earthquakes?since=<%= (DateTime.now-2.days).to_i %>">/earthquakes?since=<strong>timestamp</strong></a></li>
  <li>All earthquakes with magnitude greater than <strong>value</strong> (float)
    <br/><a href="earthquakes?over=3.5">/earthquakes?over=<strong>value</strong></a></li>
  <li>All earthquakes within the specified <em>radius</em> (default is 5) <em>units</em> ('mi' or 'km', default is 'mi') of <strong>latitude</strong>,<strong>longitude</strong> (floats)
    <br/><a href="earthquakes?near=38.8,-122.79">/earthquakes?near=<strong>latitude</strong>,<strong>longitude</strong>[&amp;radius=<em>radius</em>&amp;units=<em>units</em>]</a>
  </li>
</ul>

The parameters can be combined for hybrid queries.

<p>This application is a Rails application running on <a href="http://enigmatic-mountain-4544.herokuapp.com">heroku</a>.
  The source code is on <a href="http://github.com/cbmanica/kobei">github</a>.</p>
</body>
</html>
